*{
	margin: 10;
	padding:0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background:#DDDBDF 
}

.resume{
	width: 800px;
	background:#E0F7E0  ;
	margin: 25px auto;
	display: flex;
}

.left{
	background: #9AA599 ;
	width: 250px;
}

.left .img_holder{
	text-align: center;
	padding: 30px 0;
}

.left .img_holder img{
	width: 200px;
	border-radius: 30px;
}

.header{
	color: #fff;
	height: 200px;
	justify: center;
}

.header .role{
	font-weight:700PX;
	font-size:40px;
	text-transform: uppercase;
	justify-content: center;
	padding-left: 30px;
	padding-top: 80px;

}

.title{
	font-size: 24px;
	font-weight: bold;
    text-transform: full-width;
	letter-spacing: 6px;
	color: #094E08;
	position: relative;
	text-align: LIFT;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-top: 30px;
}

.title:before{
	content: "";
	position: absolute;
	top: 60px;
	width: 50px;
	height: 3px;
	background: #7FFF00;
}

.text{
	width: calc(100% - 50px);
	word-break: break-word;
	color: #fff;
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	color: #292b2f;
	padding-left: 30px;
}
.exp_wrap{
	display: flex;
    padding-left: 30px;
    padding-bottom: 30px;
}


